extends ../layout

block content 
  h2 User Management Page

  table(class="sortable")
    thead 
      tr 
        th Name 
        th Email 
        th Active?
        th Created At
        th Permissions 
        th Action
    tbody 
      each user in users 
        tr 
          td= user.name 
          td= user.email
          td= user.is_active ? '✓' : '✗'
          td #{user.createdAt.toLocaleString()}
          td 
            ul 
              each permission in user.UserPermissions 
                li= permission.Permission.name
          td
            button(onclick="editUser(" + user.id +")") Edit

  script.
    function editUser(id) {
      window.location.href = '/admin/users/edit/' + id;
    }

  script(src="/js/sortable/sortable.min.js")