extends ../layout

block content 
  h2 User Edit Page
  if error
    p.error= error
  form(method="post")
    input(type="hidden" name="id" value=user.id)
    label(for="name") Name:
    input(type="text" name="name" id="name" value=user.name)
    label(for="email") Email:
    input(type="email" name="email" id="email" value=user.email)
    label(for="permissions") Permissions:
    ul
      each permission in permissions
        li
          input(type="checkbox" name="permissions" value=permission.id checked=user.UserPermissions.map(p => p.PermissionId).includes(permission.id)) 
          span= permission.name
    input(type="submit" value="Update User")